{{#if error}}
<h2>No products found!</h2>
{{/if}}

<div class="jumbotron w-100 mx-5 d-flex flex-column">
  <!-- Button trigger modal -->
  {{#if authenticated}}
  <div class="d-flex align-items-center justify-content-end m-2">
    <button
      type="button"
      data-toggle="modal"
      data-target="#exampleModalCenter"
      id="addProductButton"
    >
      Add Product
    </button>
  </div>
  {{/if}}
  <div>
    <div class="d-flex flex-row flex-wrap">
      {{#each products}}
      <a href="/products/{{_id}}">
        <div
          class="card d-flex align-items-center rounded productContainer"
          style="width: 18rem;"
        >
          <img
            class="card-img-top p-2 rounded"
            src="/public/images/upload/{{this.logo}}"
            alt="{{this.productName}}"
            width="240"
            height="240"
          />
          <h3>{{this.productName}}</h3>
          <div
            class="likeRating d-flex flex-row align-items-center justify-content-evenly w-75"
          >
            <div
              class="likes d-flex flex-row justify-content-space-between w-50 align-items-center"
            >
              <p class="my-0">{{this.likes}}</p>
              <i class="fa fa-heart ml-1 text-danger"></i>
            </div>
            <p
              class="my-0"
            >Rating:{{this.rating}}</p>
          </div>
          <div
            class="d-flex align-items-center flex-wrap w-100 justify-content-center border-top my-2"
          >
            <p class="my-0 mt-1 mx-1">Tags:</p>
            <div
              class="tagContainer d-flex flex-wrap align-items-center justify-content-center"
            >
              {{#each tags}}
              <button class="my-0 btn btn-danger h-10 tagPill">
                {{this}}
              </button>
              {{/each}}
            </div>
          </div>
        </div>
      </a>
      {{/each}}
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Add Product
          </h5>
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            aria-label="Close"
            id="close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p
            class="errorCreateProduct d-flex align-items-center flex-column alert alert-primary "
            role="alert"
          ></p>
          <form
            class="row g-3 needs-validation"
            enctype="multipart/form-data"
            novalidate
            id="createProductForm"
            action="/products/addProduct"
            method="post"
          >
            <div class="col-md-12 position-relative">
              <label for="productName" class="form-label">Product Name</label>
              <input
                type="text"
                class="form-control"
                id="productName"
                name="productName"
                required
                placeholder="Product Name"
              />

              <div class="invalid-feedback">
                Please provide a valid Name(at least two characters, no special
                characters allowed).
              </div>
            </div>
            <div class="col-md-12 position-relative">
              <label for="description" class="form-label">Description</label>
              <textarea
                type="text"
                class="form-control w-100 mx-10"
                id="productDescription"
                name="description"
                required
                placeholder="Product Description"
              ></textarea>

              <div class="invalid-feedback">
                Please provide a valid Description(at least two characters, no
                special characters allowed).
              </div>
            </div>
            <div class="col-md-12 position-relative">
              <label for="url" class="form-label">Product URL</label>
              <input
                type="text"
                class="form-control"
                id="productUrl"
                name="websiteUrl"
                required
                placeholder="Please enter your products website"
              />

              <div class="invalid-feedback">
                Please provide a valid URL.
              </div>
            </div>
            <!-- developer name section -->
            <div class="col-md-12 position-relative">
              <label for="developer" class="form-label">Developer Name</label>
              <input
                type="text"
                class="form-control"
                id="developer"
                name="developer"
                required
                placeholder="Please enter the name of the developer"
              />

              <div class="invalid-feedback">
                Please provide a valid Name(at least two characters, no special
                characters allowed).
              </div>
            </div>
            <!-- tags section -->
            <div class="col-md-12 position-relative">
              <label for="tags" class="form-label">Related tags</label>
              <input
                type="text"
                class="form-control"
                id="productTag"
                name="tags"
                required
                placeholder="Please enter a tag which best suits your produc separated by commas"
              />

              <div class="invalid-feedback">
                Please provide a valid tags for your product separated by
                commas.
              </div>
            </div>
            <!-- // file upload section -->
            <div class="col-md-12 position-relative">
              <label for="file" class="form-label"
                >Upload a new profile picture</label
              >
              <input type="file" id="file" name="photo" class="form-control" />
              <div class="invalid-feedback">
                Files supported: jpg, jpeg, png Max file size: 2MB
              </div>
            </div>
            {{!-- button to create --}}
            <div class="col-12">
              <button type="submit">Create Product</button>
              {{createProductError}}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
 <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"
  ></script>
  
  <script>

    $('.errorCreateProduct').addClass('hideError')
    $('#addProductButton').click(function () {
      $('#exampleModalCenter').modal('show')
    })
    $('#close').click(function () {
      $('#exampleModalCenter').modal('hide')
    })
    $('#closebutton').click(function () {
      $('#exampleModalCenter').modal('hide')
    })
    // for displaying error messages in modal
    let requestConfig = {
      method: 'GET',
      url: '/products/addProducterror',
      contentType: 'application/json'
    }
    $.ajax(requestConfig).then(data => {
      if (data.error) {
        $('#exampleModalCenter').modal('show')
        $('.errorCreateProduct').removeClass('hideError')
        $('.errorCreateProduct')
          .text(data.error)
          .show()
      }
    })
  </script>
  <script src="/public/js/homePage.js"></script>
</div>
