{{!-- {{need to look into how to add the search results array here. Making a small change to push to base branch. Mistake on my (Sacheth) end}} --}}

<div class="jumbotron">
    <h1>HomePage</h1>
</div>
{{#if error}}
    <h2>No products found!</h2>
{{else}}
    <div class= "Product List">
    {{#each products}}
    <div class="card" >
        <h3>{{this.productName}}</h3>
        <img src='/public/images/upload/{{this.logo}}' alt={{this.productName}} width="460" height="345">
        <p>Likes:{{this.likes}}</p>
        <p>Rating: {{this.rating}}</p>
        <p>Tags: {{this.tags}}</p>
        <br/>
    </div>
    {{/each}}
    </div>
{{/if}}
<div id="chart"></div>
<script src="../../public/js/chart.js"></script>
