{{!-- {{need to look into how to add the search results array here. Making a small change to push to base branch. Mistake on my (Sacheth) end}} --}}

<div class="jumbotron">
    <h1>HomePage</h1>
</div>
{{#if error}}
    <h2>No products found!</h2>
{{else}}
    <div class= "Product List">
    {{#each products}}
    <div class="card" >
        <h3>{{this.product_Name}}</h3>
        <p>{{this.likes}}</p>
        <p>{{this.rating}}</p>
        <p>{{this.tags}}</p>
        <br/>
    </div>
    {{/each}}
    </div>
{{/if}}

